<div class="list">
	<div class="container">
		<div class="income">
			<h1>Доход</h1>

			<div *ngFor="let item of items">
				<app-card 
					*ngIf="item.amount >= 0"
					[item]="item"
					(cardClick)="onCardClicked(item)"
					(xButtonClick)="onDelete(item)"
				></app-card>
			</div>

		</div>
		<div class="expenses">
			<h1>Расход</h1>
			<div *ngFor="let item of items">
				<app-card 
					*ngIf="item.amount < 0"
					[item]="item"
					(cardClick)="onCardClicked(item)"
					(xButtonClick)="onDelete(item)"
				></app-card>
			</div>
		</div>
	</div>
</div>